<mat-toolbar color="primary">
  <!-- Brand -->
  <span class="header-brand" routerLink="login"> Tracker </span>

  <span></span>

  @if (authService.isAuthenticated()) {
    <!-- Menus — lado esquerdo -->
    <nav class="header-nav">
      @if (false) {
        <button mat-button [matMenuTriggerFor]="menuAtividades">
          Atividades
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuAtividades="matMenu">
          <button mat-menu-item (click)="onAtividade('cross-country')">
            <mat-icon>terrain</mat-icon>
            Cross Country
          </button>
          <button mat-menu-item (click)="onAtividade('enduro')">
            <mat-icon>electric_bolt</mat-icon>
            Enduro
          </button>
          <button mat-menu-item (click)="onAtividade('downhill')">
            <mat-icon>moving</mat-icon>
            Downhill
          </button>
        </mat-menu>
      }

      <button mat-button routerLink="login">Home</button>
      <button mat-button [matMenuTriggerFor]="menuMapas">
        Mapas
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuMapas="matMenu">
        <button mat-menu-item routerLink="map">
          <mat-icon>add_location_alt</mat-icon>
          Vizualizar rota
        </button>
        <button mat-menu-item routerLink="routes">
          <mat-icon>map</mat-icon>
          Minhas Rotas
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuMetas">
        Status
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuMetas="matMenu">
        <button mat-menu-item routerLink="goal">
          <mat-icon>rewarded_ads</mat-icon>
          Criar metas
        </button>
        <button mat-menu-item routerLink="goals">
          <mat-icon>bookmark_flag</mat-icon>
          Minhas metas
        </button>
        <button mat-button routerLink="status">
          Estatisticas
          <mat-icon>leaderboard</mat-icon>
        </button>
      </mat-menu>
    </nav>
  }

  <span class="spacer"></span>

  <!-- Lado direito -->
  @if (!authService.isAuthenticated()) {
    <button mat-flat-button class="btn-signup" routerLink="/subscribe">
      Inscrever-se gratuitamente
    </button>
  } @else {
    <div class="user-controls-container">
      <button mat-button (click)="onPerfil()" style="color: white">
        <mat-icon>person</mat-icon> Perfil
      </button>
      <button mat-button (click)="onLogout()" style="color: white">
        <mat-icon>logout</mat-icon> Sair
      </button>
    </div>
  }
</mat-toolbar>
