html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background-image: url('assets/tyler-lastovich-etuPl3bjiOk-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

app-root {
  display: flex;
  flex-direction: column;
}


router-outlet + * {
  padding-top: 80px;
}

router-outlet + app-map {
  padding-top: 0;
}