<mat-card class="login-card" appearance="outlined">

  <mat-card-header>

    <mat-card-title>BikeTraker</mat-card-title>
    <mat-card-subtitle>Bem-vindo</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onLogin()">

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
        <mat-icon matPrefix>mail_outline</mat-icon>
        <mat-error>Informe um e-mail válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
        <mat-icon matPrefix>lock_outline</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>A senha é obrigatória</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions >
    <button mat-flat-button (click)="onLogin()">Entrar</button>
   
  </mat-card-actions>
  <mat-card-actions>
 <button mat-stroked-button color="primary" (click)="onRegister()" routerLink="/subscribe">Criar conta</button>
  </mat-card-actions>

</mat-card>